html{
scroll-behaviour:smooth;
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family:'Poppins',sans-serif;
    background-color::#FFF7F2;
    color:#5B3A2E;
    line-height:1.6;
}

/* NAVBAR */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
    background:#F3E8E2;
    box-shadow:0 4px 10px rgba(0,0,0,0.05);
    position:sticky;
    top:0;
    z-index:100;
}

.logo{
    font-family:'Amatic SC', cursive;
    font-size:38px;
    color:#C97C5D;
    letter-spacing:2px;
}

nav ul{
    list-style:none;
    display:flex;
    gap:30px;
}

nav ul li a{
    text-decoration:none;
    color:#54463A;
    font-weight:500;
    position:relative;
    transition:0.3s;
}

nav ul li a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-5px;
    width:0;
    height:2px;
    background:#9E8472;
    transition:0.3s;
}

nav ul li a:hover{
    color:#9E8472;
}

nav ul li a:hover::after{
    width:100%;
}

/* HERO */
.hero{
    position:relative;
    text-align:center;
    padding:140px 20px;
    background:url("download.jpeg") center/cover no-repeat;
    color:white;
}

.hero::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.45);
}

.hero *{
    position:relative;
}

.hero h1{
    font-family:'Amatic SC', cursive;
    font-size:60px;
    letter-spacing:3px;
}

.hero p{
    font-size:20px;
    margin:15px 0 25px;
}

.btn{
    display:inline-block;
    padding:14px 32px;
    background:#C97C5D;
    color:white;
    text-decoration:none;
    border-radius:30px;
    font-weight:600;
    transition:0.3s;
}

.btn:hover{
    background:#5B3A2E;
    color:white;
}

/* SECTIONS */
.about,.contact{
    padding:80px 20px;
    text-align:center;
}
.menu{
padding:80px 20px;
text-align:center;
background:#F9EDE8;
}

.about h2,
.menu h2,
.contact h2,
.features h2{
    font-family:'Amatic SC', cursive;
    font-size:42px;
    margin-bottom:15px;
}

.about p,
.contact p{
    max-width:600px;
    margin:auto;
}

/* FEATURES */
.features{
    background:#F9EDE8;
    padding:80px 20px;
    text-align:center;
}

.feature-box{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:35px;
}

.feature{
    background:white;
    padding:30px 25px;
    border-radius:16px;
    width:260px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    transition:0.3s;
}

.feature:hover{
    transform:translateY(-8px);
}

/* MENU */
.menu-items{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:30px;
    padding:30px;
}

.item{
    background:white;
    padding:25px;
    border-radius:16px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    transition:0.3s;
}

.item:hover{
    transform:scale(1.03);
}
.item img{
width:100%;
height:auto;
object-fit:contain;
border-radius:12px;
margin-bottom:15px;
}
.newsletter input[type="email"]{
padding:10px;
width:250px;
border-radius:5px;
border:1px solid #C97C5D;
margin-right:10px;
}
.newsletter button{
padding:10px 20px;
border:none;
background:#C97C5D;
color:white;
border-radius:5px;
font-weight:600;
}
.newsletter button:hover{
background:#5B3A2E;
cursor:pointer;
}

/* FOOTER */
footer{
    background:#F3E8E2;
    padding:25px;
    text-align:center;
    margin-top:40px;
    color:#5B3A2E;
}
